* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 600px;
    width: 100%;
    text-align: center;
    padding: 20px;
}

header {
    background-color: #751bd6;
    color: white;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    position: relative; /* Allows positioning of title */
}

header .logo {
    flex: 0 0 auto; /* Prevent logo from growing */
}

header .logo img {
    height: 50px; /* Adjust as needed */
}

header h1 {
    font-size: 2rem;
    margin: 0;
    position: absolute; /* Absolute positioning */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for centering */
}

main {
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
}

select {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #6706e9;
    color: white;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #5a05c8;
}

.workout-list ul {
    list-style-type: none; /* Remove default list bullets */
    padding: 0;
}

.workout-list li {
    font-size: 1.1rem; /* Slightly larger text for better readability */
    margin: 10px 0; /* Space between items */
    padding: 10px;
    border-bottom: 1px solid #ddd; /* Light border between items */
}

.workout-list a {
    color: #6706e9; /* Matching link color with the header */
    text-decoration: none; /* Remove underline */
}

.workout-list a:hover {
    text-decoration: underline; /* Underline on hover */
}

footer {
    background-color: #ecf0f1;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    font-size: 0.9rem;
    color: #7f8c8d;
}
